* {
    font-family: Verdana, Tahoma, sans-serif;
 

}

/* Header Style */
#main_header {
    background-color: rgb(50,50,50);
    width: 100%;
    font-size:24px;
    text-align: center;
    font-weight: bold;
    margin: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    word-spacing: 2px;
    letter-spacing: 2px;
}

.header_icon {
    display: inline-block;
    vertical-align: middle;
    
} 

.header_title {
    color: white;
    display: inline-block;
    vertical-align: middle;
}

/* Navigation Style */

#main_nav {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    width: 100%;
    font-size: 18px;

}

.nav_bar ul{
    text-align: center;
    list-style-type: none;

}

.nav_bar li{
    display: inline-block;

}

.nav_bar a{
    text-decoration: none;
    color: rgb(50,50,50);
    font-weight: bold;
    padding-inline-end: 10px;
    padding-inline-start: 10px;

}

.nav_bar a:hover{
    color:tomato;

}



/* Body Style */
.main_content {
    padding: 0px 100px;
    text-align: justify;
    line-height: 1.8em;
    font-size: 16px;

}

.body_text h1{
    padding-top: .5em;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
}

.body_text h2{
    font-size: 24px;
    text-align: left;
    font-weight: bold;
}

.software {
    padding: 0px 100px;
}

#about {
 
    text-align: justify;
    line-height: 1.8em;
    font-size: 16px;
    padding: 0px 100px;
    position: relative;
    top: 1em;
    bottom: 1em;
   
}

.profile {
    display:flex;
    flex-direction: row;
}
.profile_photo {
    padding-right: 100px;
    margin-bottom:2em;

}

.profile_text {
    vertical-align: middle;

}

@media (max-width: 800px) {
    .profile {
      flex-direction: column;
    }
}

.software_logo {
    padding: 0px 100px;
    margin-bottom: 2em;
}

.row {
    display: flex;
    justify-content:space-around;
    align-items:center;

}

.row-end {
    display: flex;
    justify-content:space-around;
    align-items:center;
    border-bottom: 30px solid rgb(194, 194, 194);

}
.column {
    border-top: 30px solid rgb(194, 194, 194);
    border-left: 30px solid rgb(194, 194, 194);
    padding: 10px 10px;
 

}

.column-row {
    border-top: 30px solid rgb(194, 194, 194);
    border-left: 30px solid rgb(194, 194, 194);
    border-right: 30px solid rgb(194, 194, 194);
    padding: 10px 10px;

}


/* Horizontal Rule Style */
hr{
    border-color:tomato;
    margin: 0px 100px;
    border-top: 2px solid tomato;
    position: relative;
    top:1em;

}



/* Footer Style */
#main_footer {
    background-color: rgb(50,50,50);
    width: 100%;
    position: relative;
    top:8em;
    
}

.footer_text {
    color: white;
    font-size: 13px;
    text-align: center;
    padding: 3px 0;
    word-spacing: 2px;
    letter-spacing: 1px;
    position: relative;
}
